@import "https://fonts.googleapis.com/css?family=Lato:400,700";

body {
  margin: 0;
  height: 2500px;
}

.name > p {
  height: auto;
  width: 225px;
  margin: .8rem;
  position: relative;
  top: -0.5px;
  left: 18px;
  font-family: Lato;
  font-style: bold;
  color: transparent;
  font-size: 20px;
  font-weight: 200px;
}

.name.scroll p{
  color: white;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.navbar.scroll {
  background-color: black;
  transition: background-color 200ms linear;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: Lato;
  font-style: bold;
}

.navbar-links li a:hover {
  color: blue;
}

.toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .8rem 1.5rem;
  }

  .navbar-links.active {
    display: flex;
  }
  
  .navbar.active {
    background-color: black;
    transition: background-color 1s ease 0s;
  }  
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(to bottom, rgba(2, 0, 0, 0.35), rgba(2, 0, 128, 0.52)),
    url('https://i.imgur.com/qm5YSjx.jpg');
  background-position: center;
  background-size: cover;
}

.welcome-section > p {
  font-size: 2.5rem;
  font-weight: 200;
  font-style: italic;
  font-family: Lato;
  color: white;
  margin-top: 5px;
}

h1 {
  font-family: Lato;
  color: white;
  font-size: 75px;
  margin-bottom: 25px;
}

@media (max-width: 600px) {
  .welcome-section > h1{
    font-size: 60px;
  }
  
  .welcome-section > p{
    font-size: 1.9rem;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("https://i.imgur.com/UxgmWwn.jpg");
  background-position: center;
  background-size: cover;
  margin: auto;
}

.info {
  position: relative;
  top: 30px;
  background-color: rgba(215, 219, 221, 0.3);
  margin: 50px;
}

.info > h3 {
  text-align: center;
  position: relative;
  top: -150px;
  font-family: Lato;
  font-size: 50px;
}

.info > p {
  text-align: left;
  margin: 50px;
  margin-top: -100px;
  position: relative;
  top: -5px;
  font-family: Lato;
  font-size: 20px;
}

.projects-section {
  background-image: url("https://i.imgur.com/yJi7aMW.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
  position: relative;
  top: -67px;
}

.projects-section h4 {
  font-family: Lato;
  font-size: 50px;     
  text-align: center;
  padding: 55px;


}
.projects-section > p {
  font-family: Lato;
  font-size: 25px;
  text-align: center;
  padding: 25px;
  margin-top: -120px;

}

.project-tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 20px;
}

.project .level {
  padding: 200px 0;
  width: 100%;
  font-weight: 200px;
}

.level > a {
  text-decoration: none;
  position: relative;
  bottom: -160px;
  font-family: Lato;
  font-size: 25px;
  color: white;
  margin: 0;
}

#TributePage {
 background-image: linear-gradient(to bottom, rgba(2, 0, 0, 0.35), rgba(2, 0, 0, 0.32)),
    url('https://i.imgur.com/0raTNHD.png');
  background-position: center;
  background-size: cover;
}

#ProductLandingPage {
  background-image: linear-gradient(to bottom, rgba(2, 0, 0, 0.35), rgba(2, 0, 0, 0.42)),
    url('https://i.imgur.com/2MFt6eg.png');
  background-position: center;
  background-size: cover;
}

#TechnicalDocumentationPage {
  background-image: linear-gradient(to bottom, rgba(2, 0, 0, 0.35), rgba(2, 0, 0, 0.42)),
    url('https://i.imgur.com/UCzg7zd.png');
  background-position: center;
  background-size: cover;
}

.button{
  display: flex;
  justify-content: center;
  margin: 50px;
  position: relative;
  top: -30px;
}

.button > a {
  background-color: black;
  text-decoration: none;
  font-family: Lato;
  color: white;
  font-size: 20px;
}

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 2px;
}

.btn:hover{
  background-color: green;
}

@media (max-width: 1000px) {
  .project-tile {
    flex-direction: column;
  }
  
  .project {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .project > .level {
    padding: 90px 0;
    width: 100%;
    font-weight: 200;
  }
  
  .level > a {
    position: relative;
    bottom: -20px;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 20px #979A9A;
  } 
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(to bottom, rgba(2, 0, 0, 0.35), rgba(2, 0, 0, 0.52)), url("https://i.imgur.com/fnBCHNR.jpg");
  background-position: center;
  background-size: cover;
}

.contact-section > h5 {
  font-family: Lato;
  font-size: 50px;
  color: white;  
}

.links {
  display: flex;
  position: relative;
  top: -30px;
  background-color: rgba(215, 219, 221, 0.3);
  align-items: center;
}

#profile-link {
  font-size: 50px;
  margin: 50px;
  color: #D4E6F1;
}

#profile-link:hover {
  color: black;
}

@media (max-width:550px){
  .contact-section > h5{
    font-size: 40px;
  }
  .links {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20px;
    background-color: rgba(215, 219, 221, 0.3);
  }
  
  #profile-link {
    font-size: 50px;
    margin: 20px
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: black;
}

.footer{
}

.footer p {
  color: white;
  font-family: Lato;
  margin: 50px;
  font-size: 15px;
}

.footer  a{
  text-decoration: underline;
  color: white;
}

